language: node_js
node_js:
  - "6"
services:
  - postgresql
addons:
  postgresql: "9.4"
before_install:
  - npm install sequelize-cli -g
before_script:
  - psql -c 'create database gathudocs_test;' -U postgres
  - psql -c "CREATE USER boswellgathu;" -U postgres
  - NODE_ENV=test
after_script:
  - npm run coverage
